<ul class="nav nav-pills">
  <li class="active"><a href="/cards/sets/all">All Cards</a></li>
  <li><a href="/cards/sets/Basic">Basic</a></li>
  <li><a href="/cards/sets/Classic">Clasic</a></li>
  <li><a href="/cards/sets/Naxxramas">Naxxramas</a></li>
  <li><a href="/cards/sets/Goblins vs Gnomes">Goblins vs Gnomes</a></li>
  <li><a href="/cards/sets/Blackrock Mountain">Blackrock Mountain</a></li>
  <li><a href="/cards/sets/The League of Explorers">The Lague of Explorers</a></li>
</ul>
<ul class="gallery">
  <p>Cards in set: <%= @cards.length %></p>
  <ul class="page-selector">
    <% (@cards.length / 50.0).ceil.times do |index| %>
      <li><a href="/cards/sets/<%= @set_name %>/<%= index + 1 %>"><%= index+1 %></a></li>
    <% end %>
  </ul>
  <% start_index = 0 + 50*(@page_num.to_i - 1) %>
  <% end_index = start_index + 49 %>
  <% card_grouping = @cards[start_index..end_index] %>
  <% card_grouping.each do |card| %>
    <li><a href="/cards/<%= card.id %>"><img class="card-display" src="<%= card.img %>"></a></li>
  <% end %>
  <br>
  <% (@cards.length / 50.0).ceil.times do |index| %>
    <li><a href="/cards/sets/<%= @set_name %>/<%= index + 1 %>"><%= index+1 %></a></li>
  <% end %>
</ul>
